@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');

*{
    margin: 0%;
}

body{
    background-image: url(../img/NavbarFondo.jpg);
}

html {
    scroll-behavior: smooth;
}

#embedim--snow{
    z-index: 0!important;
}

.containerNav{
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.50);
    border-bottom: solid 1px white;
    text-align: center;
    z-index: 3;
}

.custom-link{
    text-decoration: solid;
    font-size: 100%;
    color:white;
    pointer-events: auto;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif ;
    cursor: pointer;
}

.custom-link:hover{
    text-shadow: #ff6262 1px 0px 10px;
}

.linav{
    margin-left: 1%;
}

.NavbarMenu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#BackGroundNav{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
}




/* Section About Me */


.containerAbout{
    height: 500px;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.titleAbout{
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif ;
    text-shadow: 5px 5px 5px #dddddd;
}

.subContainerAbout{
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    text-align-last: center;
    font-family: 'Oswald', sans-serif ;

}

@media screen and (max-width: 900px) {
    .subContainerAbout{
        grid:none;
    }  
}

.BackgrounAbout{
    display: flex;
    justify-content: center;
}

.AboutMe{
    background-image: url(../img/backgroundText.png);
    width: 80%;
    height: 80%;
    padding: 5%;
    border-radius: 0.625rem;
    background-size: cover;
}

.textAbout{
    color: grey;
    font-weight: 100;
    font-weight: 1.5;
}

#aboutName{
    color: grey;
    font-weight: 100;
    font-weight: 1.5;
    padding-bottom: 1%;
}

.imgAboutMe{
    width: 40%;
    height: 100%;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
}

/* section proyects */

.containerProyect{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    z-index: 1;
}

.titleProyects{
    text-align: center;
    color: white;
    font-size: 2rem;
    text-shadow: 5px 5px 5px #0a0a0a;
    font-family: 'Oswald', sans-serif ;
}

/* section Empresa */

.containerCompanies{
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
}

.containerCardCompanies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3%;
}

.titleCompanies{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif ;
}

/*Expertise*/

.titleSkills{
    text-align: center;
    color: white;
    font-size: 2rem;
    text-shadow: 5px 5px 5px #0a0a0a;
    font-family: 'Oswald', sans-serif ;
}

.containerExpertise{
    width: 100%;
    z-index: 1;
}

.containerCardExpertise{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
}

.txtSkills{
    display: none;
}

/*  Footer */

.containerFooter{
    width: 100%;
    height: 100%;
    border-top: solid 1px white;
    background-color: rgba(0, 0, 0, 0.738);
}

.subContainerFooter{
    height: 100%;
}

.contact{    
    height: 85%;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    align-content: center;
    justify-content: center;
	grid-auto-columns: 100px;
	grid-auto-rows: 60%;
}

.copyright{
    color: white;
    text-align: center;
}

input[type="checkbox"]{
    display: none;
}

/* Responsive */

@media screen and (max-width: 1000px) {
    .w-full{
        height: 800px!important;
    }

    /* Navbar */

    .containerNavbar{
        height: 900px;
    }

    .containerNav{
        z-index: 2;
        top: 0;
        right: -100%;
        height: 70%;
        width: 50%;
        background: #000;
        transition: all 0.6s ease-in-out;
        border-left:  solid white 2px;
        border-bottom:  solid white 2px;
    }

    #active:checked ~ .containerNav{
        right:0;
      }

    .menu-btn{
        position: fixed;
        z-index: 3;
        right: 20px;
        top: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        transition: all 0.3s ease-in-out;
    }

    .menu-btn span,
    .menu-btn:before,
    .menu-btn:after{
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 30%;
        width: 40%;
        border-bottom: 2px solid #ffffff;
        transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .menu-btn:before{
        transform: translateY(-8px);
    }
    .menu-btn:after{
        transform: translateY(8px);
    }

    /* .close {
        z-index: 3;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: all .6s ease;
    } */
    
    #active:checked + .menu-btn span {
        transform: scaleX(0);
    }
    #active:checked + .menu-btn:before {
        transform: rotate(45deg);
      border-color: #fff;
    }
    #active:checked + .menu-btn:after {
        transform: rotate(-45deg);
      border-color: #fff;
    }

    .NavbarMenu{
        position: absolute;
        top: 60%;
        left: 50%;
        height: 90%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start!important;
    }


    .containerNav ul li{
        height: 5%;
        margin: 15px 0;
    }

    .containerNav ul li a{
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
        padding: 5px 20px;
        color: #fff;
        border-radius: 50px;
        line-height: 50px;
        margin: 5px 3px;
        transition: all 0.3s ease;
        transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    /* .containerNav ul li a:after{
        position: absolute;
        content: "";
        background: #fff;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        transition: transform 0.3s ease;
      } */
    
      .containerNav ul li a:hover:after{
        transform: scaleY(1);
      }
      input[type="checkbox"]{
        display: none;
      }

    /* aboutme */

    .containerAbout{
        height: 750px;
    }

    .AboutMe{
        height: 350px;
        overflow: auto;
    }

    .textAbout{
        font-size: 0.87rem;
        text-align: center;
    }  

    /* proyects */

    #ProyectFt{
        height: 1000px!important;
    }

    .containerProyect{
        display: flex;
        flex-direction: column;
        height: 1000px;
    } 

    #cardsProyects{
        margin-top: 5%;
        max-width: 15rem;
    }

    /* Collaborations */

    #Collaborationspth{
        height: 1336px!important;
    }

    .containerCardCompanies{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #imgCollaborations{
        height: 100%!important;
    }

    /* Skills */

    .skillspth{
        height: 900px!important;
    }

    .containerCardExpertise{
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .carouselCard  {
        width: 55%;
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-right: 15px; /* Espacio entre cada tarjeta */
    }

    .imgCardExpertise{
        height: 40%!important;
        object-fit: contain!important;
    }   

    .carouselDots {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
      
    .carouselDot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 0 5px;
    }
      
    .carouselDot.active {
        background-color: #512222;
    }

    .txtSkills{
        display: block;
        text-align: center;
        color: white;
        font-size: 2rem;
        text-shadow: 5px 5px 5px #0a0a0a;
        font-family: 'Oswald', sans-serif ;
    }

    /* footer */

    #footerpht{
        height: 200px!important;
    }
}
