/* @import  './fonts/AirbnbCerealLight.ttf'; */

*{
    margin: 0%;
}

.boxImg{
    width: 100%;
    height: 300px;
}

.boxText{
    width: 100%;
    height: 20%;
}

.containerNav{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.50);
    text-align: center;
    align-content: center;

    & ul{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & il {
            margin-left: 1%;
            & a {
                text-decoration: solid;
                font-size: 1.2rem;
                color:white;
                pointer-events: auto;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
    
                &:hover {
                    text-shadow: #ff6262 1px 0px 10px;
                }
            }
        }
    
    }
    
}


.imgTestimony{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
}

.snows{
    position: absolute;
    width: 100%;
    left: 2%;
}

.snow{
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: .3;
    border-radius: 10px;
    position: absolute;
    /* animation: snows 3s linear infinite; */
    animation: snows 3s linear infinite;
    animation-fill-mode: both;
    animation-play-state: running;
}

@keyframes snows{
    0%{
        bottom: 0;
        opacity: .5;
    }
    50%{
        opacity: .8;
    }
    100%{
        bottom: 60vh;
        opacity: 0;
    }
}

